@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
      url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
      url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
      url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
      url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
}

body {
  font-family: "Product sans", "Arial", sans-serif;
  box-sizing: border-box;
  margin-top: 60px;
}

.navbar-wrapper {
  width: 100%;
  box-shadow:0px 4px 20px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.nav-bar {
  width: 1148px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-link:active {
  opacity: 0.5;
}

.logo-img {
  display: block;
  width: 58px;
  height: 20px;
}

.features-list {
  padding: 0;
  list-style-type: none;
  display: flex;

}

.features-list a {
  text-decoration: none;
  color: #222;
}

.features-list a:hover {
  text-decoration: none;
  color: #222;

}

.features-list > li > a {
  border-bottom: 3px solid transparent;
  padding: 16px 16px 13px 16px;
  transition: border-bottom-color 0.3s ease;
}


.features-list > li > a:hover,
.features-list > li:hover > a {
  border-bottom-color: #191919;
}

.features-list > li > a:active {
  background-color: #191919;
  color: #fff;
  opacity: 0.7;

}

.services-list {
   padding: 16px 0;
   list-style-type: none;
   position: absolute;
   z-index: 1;
   right: 50%;
   transform: translateX(50%);
   top: 35px;
   border-radius: 5px;
   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
   position: absolute;
   z-index: 2;
   display: none;
}

.services-list a:hover {
  background-color: #00BAFC;
  color: #fff;
}

.services-list a:active {
  opacity: 60%;
  background-color: #00BAFC;
}

.services-list a {
  display: inline-block;
  padding: 8px 16px;
  width: 130px;
}

.services-wrapper-item {
  position: relative;
  z-index: 2;
}

.services-wrapper-item:hover .services-list {
  display: block;
}

.phone-number {
  margin-left: 16px;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #fff;
  text-decoration:none;
  border-radius:5px;
  font-size: 15px;
  line-height: 24px;
  white-space: nowrap;
  transition: border-color 0.3s ease,
}

.phone-number:hover {
  border: 3px solid #00BAFC;
  /* border-color: #00BAFC; */
  background-color: #fff;
  color: #00BAFC;
}

.phone-number:active {
  border: 3px solid transparent;
  /* border-color: rgba(0, 186, 252, 0.6); */
  background-color: rgba(0, 186, 252, 0.6);
  color: #fff;
}

.container {
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.hero{
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
  background-color: #fff;

}

.content-wrapper {
  width: 465px;
}

.hero-title {
  line-height: 130%;
  font-size: 30px;
  margin: 0;
}

.hero-discription {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 24px;

}

.main-button {
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  background-color: #00BAFC;
  border-radius:5px;
  display: inline-block;
}

.hero-video {
  border: none;
  width: 458px;
  height: 258px;
}

/* Second Section  */

.second-section-title {
  text-align: center ;
  line-height: 130%;
  margin: 0;
}

.second-section-text {
  margin: 16px 0;
  line-height: 24px;
  text-align: center;
  padding-left: 190px;
  padding-right: 190px;
}

.main-services-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1148px;
  padding-right: 24px;
  padding-left: 24px;
  margin: 0;
}

.main-services-list a {
  display: inline-block;
  padding: 24px 58px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #222;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

}

.main-services-list > li:not(:nth-child(3)) {
  margin-right: 35px;

}

.main-services-list > li {
  width: 320px;
  flex-shrink: 0;
  margin-bottom: 48px;
}

.main-services-list > li:nth-child(4) {
  transform: translateX(65%);
}

.main-services-list > li:nth-child(5) {
  transform: translateX(-50%);
}