@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
      url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
      url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
      url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
      url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Product sans", "Arial", sans-serif;
  box-sizing: border-box;
  margin-top: 60px;
}

.navbar-wrapper {
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  background-color: #fff;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-link:active {
  opacity: 0.5;
}

.logo-img {
  display: block;
  width: 58px;
  height: 20px;
}

.features-list {
  padding: 0;
  list-style-type: none;
  display: flex;

}

.features-list a {
  text-decoration: none;
  color: #222;
}

.features-list a:hover {
  text-decoration: none;
  color: #222;

}

.features-list > li > a {
  border-bottom: 3px solid transparent;
  padding: 16px 16px 13px 16px;
  transition: border-bottom-color 0.3s ease;
}


.features-list > li > a:hover,
.features-list > li:hover > a {
  border-bottom-color: #191919;
}

.features-list > li > a:active {
  background-color: #191919;
  color: #fff;
  opacity: 0.7;

}

.services-list {
   padding: 16px 0;
   list-style-type: none;
   position: absolute;
   z-index: 1;
   right: 50%;
   transform: translateX(50%);
   top: 35px;
   border-radius: 5px;
   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
   position: absolute;
   z-index: 2;
   display: none;
}

.services-list a:hover {
  background-color: #00BAFC;
  color: #fff;
}

.services-list a:active {
  opacity: 60%;
  background-color: #00BAFC;
}

.services-list a {
  display: inline-block;
  padding: 8px 16px;
  width: 130px;
}

.services-wrapper-item {
  position: relative;
  z-index: 2;
}

.services-wrapper-item:hover .services-list {
  display: block;
}

.phone-number {
  margin-left: 16px;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #fff;
  text-decoration:none;
  border-radius:5px;
  font-size: 15px;
  line-height: 24px;
  white-space: nowrap;
  transition: border-color 0.3s ease,
  background-color 0.3s ease;
}

.phone-number:hover {
  border: 3px solid #00BAFC;
  /* border-color: #00BAFC; */
  background-color: #fff;
  color: #00BAFC;
}

.phone-number:active {
  border: 3px solid transparent;
  /* border-color: rgba(0, 186, 252, 0.6); */
  background-color: rgba(0, 186, 252, 0.6);
  color: #fff;
}

.container {
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
  background-color: #fff;

}

.content-wrapper {
  width: 465px;
}

.hero-title {
  line-height: 130%;
  font-size: 30px;
  margin: 0;
}

.hero-discription {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 24px;

}

.main-button {
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  background-color: #00BAFC;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.main-button:hover {
  background-color: rgba(0, 186, 252, 0.8);
}

.main-button:active {
  background-color: rgba(0, 186, 252, 0.6);
}

.hero-video {
  border: none;
  width: 458px;
  height: 258px;
}

/* Second Section  */

.second-section-title {
  text-align: center;
  line-height: 130%;
  margin: 0;
}

.second-section-text {
  margin: 16px 0;
  line-height: 24px;
  text-align: center;
  padding-left: 190px;
  padding-right: 190px;
}

.main-services-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1100px;
  list-style-type: none;
  padding-left: -35px;
  padding-right: -35px;
  margin: 0;
  padding-inline-start: 0;
 }

 .main-services-list > li {
  width: 320px;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 48px;
  flex-shrink: 0;
}

.main-services-list a {
  display: inline-block;
  padding: 24px 48px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  color: #222;
  background-color: #FFFFFF;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
}

.main-services-list a:hover {
  box-shadow: 0 12px 21px rgba(0, 0, 0, 0.1);
}

.main-services-list a:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.services-name::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 130px;
}

.first-service::before {
  width: 200px;
  background-image: url("../img/website-illustration.png");
}

.second-service::before {
  width: 220px;
  background-image: url("../img/bot-illustration.png");
}

.third-service::before {
  width: 175px;
  background-image: url("../img/smm-illustration.png");
}

.fourth-service::before {
  width: 178px;
  background-image: url("../img/design-illustration.png");
}

.fifth-service::before {
  width: 170px;
  background-image: url("../img/crm-illustration.png");
}

.order-button {
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-style: bold;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
}

.services-link {
  color: #00BAFC;
  font-size: 16px;
  margin-left: 16px;
}

.order-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
/* shu yerda stillar yoziladi */

.first-service::before {
  width: 200px;
  background-image: url("../img/website-illustration@2x.png");
}

.second-service::before {
  width: 220px;
  background-image: url("../img/bot-illustration@2x.png");
}

.third-service::before {
  width: 175px;
  background-image: url("../img/smm-illustration@2x.png");
}

.fourth-service::before {
  width: 178px;
  background-image: url("../img/design-illustration@2x.png");
}

.fifth-service::before {
  width: 170px;
  background-image: url("../img/crm-illustration@2x.png");
}
}

.how-we-work-wrapper {
  padding-left: 134px;
  padding-right: 134px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.how-we-work-section-text {
  margin-bottom: 24px;
  padding-left: 53px;
  padding-right: 53px;
  text-align: center;
}

.processes {
  width: 500px;

}
.how-we-work-section-title {
  text-align: center;
}


.how-we-work {
  list-style-type: none;
}

.how-we-work-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.solutions-list {
  display: flex;
  align-items: center;
  margin-bottom: 54px;
}

.solutions-img {
  margin-left: 35px;
}

.project-time-list {
  display: flex;
  align-items: center;
  margin-bottom: 62px;

}

.project-time-img {
  margin-right: 32px;
}

.project-quality-list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.project-quality-img {
  margin-left: 32px;
}

.project-service-list {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.project-service-img {
  margin-right: 48px;
}

.second-order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
  font-weight: bold;
  line-height: 24px;
}

.how-we-work-text {
  font-size: 16px;
  line-height: 24px;
}

.how-we-work-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
}

/* THIRD SECTION */
.sub-container {
  padding-left: 190px;
  padding-right: 190px;
  text-align: center;
}

.third-section-title {
  color: #fff;
  margin: 0;
  line-height: 130%;
}

.third-section-text {
  color: #fff;
  line-height: 150%;
}

.third-section {
  background-color: #00BAFC;
  width: 1300px;
  height: 543px;
  padding-top: 56px;
  padding-bottom: 64px;
}

.order-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 348px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.order-form input, .order-form select {
  width: 300px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
  padding: 16px;
  margin-bottom: 16px;
}

.last-button {
  border:none;
  margin-bottom: 0;
  line-height: 24px;

}



/* FOOTER SECTION */
.footer {
  width: 100%;
  background-color: #222;
  padding-top: 56px;
  padding-bottom: 56px;
  color: #fff;
}

.footer-section {
  justify-content: space-between;
  width: 780px;
  display: flex;
  margin: 0;
  margin-left: 100px;

}

.copyright-text {
  color: #fff;

}

.copyright-text-item {
  width: 320px;
  height: 96px;
  line-height: 150%;
}

.site-links-list {
  color: #fff;
}

.socials-list {
  color: #fff;
  padding: 0;
}

.site-links-list {
  list-style-type: none;
  padding: 0;
}

.site-links-list li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.site-links-list a {
  color: #fff;
  text-decoration: none;
}

.socials-list {
  list-style-type: none;
}

.socials-list li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.socials-list a {
  color: #fff;
  align-items: center;
  display: flex;
  text-decoration: none;
  width: 100px;
  justify-content: space-between;
}