@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.woff2") format("woff2"),
      url("../fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.woff2") format("woff2"),
      url("../fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.woff2") format("woff2"),
      url("../fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.woff2") format("woff2"),
      url("../fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
}

body {
  font-family: "Product sans", "Arial", sans-serif;
  box-sizing: border-box;
}

.navbar-wrapper {
  width: 100%;
  box-shadow:0px 4px 20px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.nav-bar {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  transition: opacity 0.3s ease;
}

.logo-link:hover {
  opacity: 0.7;
}

.logo-link:active {
  opacity: 0.5;
}

.logo-img {
  display: block;
  width: 58px;
  height: 20px;
}

.features-list {
  padding: 0;
  list-style-type: none;
  display: flex;
}
.features-list a {
  text-decoration: none;
  color: #000;
}

.features-list a:hover {
  text-decoration: none;
  color: #000;

}

.features-list > li > a {
  border-bottom: 3px solid transparent;
  padding: 16px 16px 13px 16px;
  transition: border-bottom-color 0.3s ease;
}


.features-list > li > a:hover {
  border-bottom-color: #191919;
}

.features-list > li > a:active {
  background-color: #191919;
  color: #fff;
  opacity: 0.7;

}

.services-list {
   padding: 16px 0;
   list-style-type: none;
   position: absolute;
   z-index: 1;
   right: 50%;
   transform: translateX(50%);
   top: 35px;
   border-radius: 5px;
   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
   position: absolute;
   z-index: 2;
   display: none;
}

.services-list a:hover {
  background-color: #00BAFC;
  color: #fff;
}

.services-list a:active {
  opacity: 60%;
  background-color: #00BAFC;
}

.services-list a {
  display: inline-block;
  padding: 8px 16px;
  width: 130px;
}

.services-wrapper-item {
  position: relative;
  z-index: 1;
}

.services-wrapper-item:hover .services-list {
  display: block;
}
.phone-number {
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #fff;
  text-decoration:none;
  border-radius:5px;
  font-size: 15px;
  line-height: 24px;
  white-space: nowrap;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.phone-number:hover {
  border: 3px solid #00BAFC;
  /* border-color: #00BAFC; */
  background-color: #fff;
  color: #00BAFC;
}

.phone-number:active {
  border: 3px solid transparent;
  /* border-color: rgba(0, 186, 252, 0.6); */
  background-color: rgba(0, 186, 252, 0.6);
  color: #fff;
}